<div class="example-container">
  <form [formGroup]="signupForm">
    <mat-form-field appearance="fill" style="display: block;">
      <mat-label>Nazwa</mat-label>
      <input 
        matInput 
        formControlName="title"
        type="text">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" style="display: block;">
      <mat-label>Opis</mat-label>
      <textarea 
        matInput
        formControlName="description"
        type="text"
        rows="10">
      </textarea>
    </mat-form-field>
    <br *ngIf="!editMode">
    <mat-form-field *ngIf="!editMode" appearance="fill">
      <mat-label>Przypisz do</mat-label>
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let user of users" [value]="user.name + ' ' + user.surname">{{user.name}}</mat-option>
      </mat-select>
    </mat-form-field>

<div fxLayout="row" fxLayoutGap="10px" style="float: right; margin-top: 10px;">

  <button
    mat-button 
    mat-dialog-close
    style="border: 1px solid rgb(33, 214, 33); color:rgb(33, 214, 33);">
    Anuluj
  </button>

  <button 
    mat-button 
    mat-dialog-close 
    (click)="addTaskToUser();" 
    *ngIf="!editMode"
    style="background-color: rgb(33, 214, 33); color: white;">
    + Dodaj
  </button>

  <button 
    mat-button 
    mat-dialog-close 
    (click)="editTask({title: signupForm.value.title, description: signupForm.value.description, status: null });" 
    *ngIf="editMode"
    style="background-color: rgb(33, 214, 33); color: white;">
    Edytuj
  </button>

</div>

</form>
</div>