<div class="example-container">
  <form [formGroup]="signupForm">
    <mat-form-field appearance="fill">
      <mat-label>Nazwa</mat-label>
      <input 
        matInput 
        formControlName="title"
        type="text">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Opis</mat-label>
      <textarea 
        matInput
        formControlName="description"
        type="text">
      </textarea>
    </mat-form-field>
    <!-- <br>
    <mat-form-field appearance="fill">
      <mat-label>Osoby</mat-label>
      <mat-select>
        <mat-option value="option1">Option</mat-option>
        <mat-option value="option2">Option2</mat-option>
      </mat-select>
    </mat-form-field> -->
  </form>
</div>

<div fxLayout="row">
  <button mat-button mat-dialog-close>Anuluj</button>
  <button mat-button mat-dialog-close (click)="addTask({title: signupForm.value.title, description: signupForm.value.description, status: data.status });" *ngIf="!editMode">Dodaj</button>
  <button mat-button mat-dialog-close (click)="editTask({title: signupForm.value.title, description: signupForm.value.description, status: null });" *ngIf="editMode">Edytuj</button>
</div>