<mat-toolbar color="primary" class="topbar">
  <span class="ikona">    </span>
  <span class="logo1">KANBAN BOARD</span>
  <span class="logo2">PERSONAL KANBAN - CORE 0</span>
</mat-toolbar>

<div class="wrapper">
  <div cdkDropListGroup fxLayout="row" style="padding: 20px;">
    <div class="tasks-tab">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color:#79fbeb;">person_outline</span>
          TEAM MEMBER
          <span class="add-task-button" style="color:#79fbeb;" (click)="addUserDialog()">+</span>
        </div>
      </div>
    </div>
    <div class="tasks-tab">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color:#41A1F5;">list</span>
          BACKLOG
          <span class="add-task-button" style="color:#41A1F5;" (click)="addTaskDialog('Backlog')">+</span>
          <!--  it should be <mat-button mat-icon-button>+</mat-button> -->
        </div>
      </div>
    </div>

    <div class="tasks-tab">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color:#E8577A;">list</span>
          NEXT 
          <span [style.color]="next.length>WIPLimit ? 'red' : ''" style="margin-left: 4px;"></span> 
          <span class="limit-warning">{{next.length>WIPLimit ? limitWarning : ''}}</span>
          <span class="add-task-button" style="color:#E8577A;" (click)="addTaskDialog('Next')">+</span>
          <!--  it should be <mat-button mat-icon-button>+</mat-button> -->
        </div>
      </div>
    </div>

    <div class="tasks-tab">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color:#FFC400;">list</span>
          IN PROGRESS 
          <span [style.color]="inProgress.length>WIPLimit ? 'red' : ''" style="margin-left: 4px;"></span> 
          <span class="limit-warning">{{inProgress.length>WIPLimit ? limitWarning : ''}}</span>
          <span class="add-task-button" style="color:#FFC400;" (click)="addTaskDialog('InProgress')">+</span>
          <!--  it should be <mat-button mat-icon-button>+</mat-button> -->
        </div>
      </div>
    </div>

    <div class="tasks-tab">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color:#45E217;">list</span>
          DONE
          <span class="add-task-button" style="color:#45E217;" (click)="addTaskDialog('Done')">+</span>
          <!--  it should be <mat-button mat-icon-button>+</mat-button> -->
        </div>
      </div>
    </div>
  </div>
</div>


<app-user-row *ngFor="let user of users" [user]="user" (del)="delTask($event)"></app-user-row>
