<div class="wrapper">
  <div cdkDropListGroup fxLayout="row" style="padding: 20px;">
    <div class="tasks-tab-row member-1">
      {{rowAndTasks?.priority}}
    </div>

    <div class="tasks-tab">
      <div
        cdkDropList
        [cdkDropListData]="backlog"
        class="tasks-tab"
        (cdkDropListDropped)="drop($event, 'Backlog')"
      >
        <div class="task" style="border-bottom:4px solid #41A1F5;" *ngFor="let item of backlog" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
            <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
          <div *ngFor="let user of item.userList">
            <div *ngIf="user?.name " class="owner-icon">
              <div class="owner">{{user.name | uppercase | slice:0:2}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tasks-tab">
      <div
        cdkDropList
        [cdkDropListData]="next"
        class="tasks-tab"
        (cdkDropListDropped)="drop($event, 'Next')"
        [style.border]="nextLimitExceeded ? '2px solid red' : 'none'"
      >
        <div class="task" style="border-bottom:4px solid #E8577A;" *ngFor="let item of next" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
            <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
          <div *ngFor="let user of item.userList">
            <div *ngIf="user?.name " class="owner-icon">
              <div class="owner">{{user.name | uppercase | slice:0:2}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tasks-tab-p">

      <div style="display: flex; height: 100%;" fxLayout="row" [style.border]="inProgressLimitExceeded ? '2px solid red' : 'none'">

          <div 
            fxFlex="25" 
            cdkDropList 
            [cdkDropListData]="inProgress1" 
            class="tasks-tab-content" 
            (cdkDropListDropped)="drop($event, 'InProgress', 1)"
            >
            <div class="task-p" style="border-bottom: 4px solid #ffc400;" *ngFor="let item of inProgress1" cdkDrag>
              <div class="navigation-items">
                <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
                <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
              </div>
              <div class="task-title">
                {{ item.title }}
              </div>
              <div class="task-description">
                {{ item.description }}
              </div>
              <div *ngFor="let user of item.userList">
                <div *ngIf="user?.name " class="owner-icon">
                  <div class="owner">{{user.name | uppercase | slice:0:2}}</div>
                </div>
              </div>
            </div>
          </div>

          <div fxFlex="25" cdkDropList [cdkDropListData]="inProgress2" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'InProgress', 2)">
            <div class="task-p" style="border-bottom: 4px solid #ffc400;" *ngFor="let item of inProgress2" cdkDrag>
              <div class="navigation-items">
                <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
                <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
              </div>
              <div class="task-title">
                {{ item.title }}
              </div>
              <div class="task-description">
                {{ item.description }}
              </div>
              <div *ngFor="let user of item.userList">
                <div *ngIf="user?.name " class="owner-icon">
                  <div class="owner">{{user.name | uppercase | slice:0:2}}</div>
                </div>
              </div>
            </div>
          </div>

          <div fxFlex="25" cdkDropList [cdkDropListData]="inProgress3" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'InProgress', 3)">
            <div class="task-p" style="border-bottom: 4px solid #ffc400;" *ngFor="let item of inProgress3" cdkDrag>
              <div class="navigation-items">
                <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
                <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
              </div>
              <div class="task-title">
                {{ item.title }}
              </div>
              <div class="task-description">
                {{ item.description }}
              </div>
              <div *ngFor="let user of item.userList">
                <div *ngIf="user?.name " class="owner-icon">
                  <div class="owner">{{user.name | uppercase | slice:0:2}}</div>
                </div>
              </div>
            </div>
          </div>

          <div fxFlex="25" cdkDropList [cdkDropListData]="inProgress4" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'InProgress', 4)">
            <div class="task-p" style="border-bottom: 4px solid #ffc400;" *ngFor="let item of inProgress4" cdkDrag>
              <div class="navigation-items">
                <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
                <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
              </div>
              <div class="task-title">
                {{ item.title }}
              </div>
              <div class="task-description">
                {{ item.description }}
              </div>
              <div *ngFor="let user of item.userList">
                <div *ngIf="user?.name " class="owner-icon">
                  <div class="owner">{{user.name | uppercase | slice:0:2}}</div>
                </div>
              </div>
            </div>
          </div>

          <div fxFlex="25" cdkDropList [cdkDropListData]="inProgress5" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'InProgress', 5)">
            <div class="task-p" style="border-bottom: 4px solid #ffc400;" *ngFor="let item of inProgress5" cdkDrag>
              <div class="navigation-items">
                <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
                <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
              </div>
              <div class="task-title">
                {{ item.title }}
              </div>
              <div class="task-description">
                {{ item.description }}
              </div>
              <div *ngFor="let user of item.userList">
                <div *ngIf="user?.name " class="owner-icon">
                  <div class="owner">{{user.name | uppercase | slice:0:2}}</div>
                </div>
              </div>
            </div>
          </div>

      </div>
      
    </div>

    <div class="tasks-tab">
      <div
        cdkDropList
        [cdkDropListData]="done"
        class="tasks-tab"
        (cdkDropListDropped)="drop($event, 'Done')"
      >
        <div class="task" style="border-bottom:4px solid #45E217;" *ngFor="let item of done" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
            <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
          <div *ngFor="let user of item.userList">
            <div *ngIf="user?.name " class="owner-icon">
              <div class="owner">{{user.name | uppercase | slice:0:2}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>