<mat-toolbar color="primary" class="topbar">
  <span class="ikona"> </span>
  <span class="logo1">KANBAN BOARD</span>
  <span class="logo2">TEAM KANBAN</span>
</mat-toolbar>


<button mat-fab class="add-user" (click)="addUserDialog()">
  Add<br>user
</button>

<div class="wrapper" ngStyle.gt-md="width: 90%; margin: auto;">
  <div cdkDropListGroup fxLayout="row" fxLayoutGap="20px" fxFlex="100" style="padding: 20px;">
    <div class="tasks-tab" fxFlex="15">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color: #41a1f5;">list</span>
          BACKLOG
          <span class="material-icons help-icon-backlog" style="color: #41a1f5;" matTooltip="New tasks that are not being currently worked on">help</span>
          <span class="add-task-button" style="color: #41a1f5;" (click)="addTaskDialog('Backlog')">+</span>
        </div>
      </div>
      <div cdkDropList [cdkDropListData]="backlog" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'Backlog')">
        <div class="task" style="border-bottom: 4px solid #41a1f5;" *ngFor="let item of backlog" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
            <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
          <div *ngIf="item.name" class="owner-icon">
            <div class="owner">{{item.name | uppercase | slice:0:2}}</div>
          </div>

        </div>
      </div>
    </div>

    <div class="tasks-tab" fxFlex="15">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color: #e8577a;">list</span>
          NEXT
          <span class="material-icons help-icon-next" style="color: #e8577a;" matTooltip="Tasks with a highter priority that will be worked on in near future">help</span>
          <span class="limit-warning">{{nextLimitExceeded ? limitWarning : ""}}</span>
          <span class="add-task-button" style="color: #e8577a;" (click)="addTaskDialog('Next')">+</span>
        </div>
      </div>
      <div cdkDropList [cdkDropListData]="next" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'Next')">
        <div class="task" style="border-bottom: 4px solid #e8577a;" *ngFor="let item of next" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
            <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
          <div *ngIf="item.name" class="owner-icon">
            <div class="owner">{{item.name | uppercase | slice:0:2}}</div>
          </div>

        </div>
      </div>
    </div>

    <div class="tasks-tab-p" fxFlex="55">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color: #ffc400;">list</span>
          IN PROGRESS
          <span class="material-icons help-icon-progress" style="color: #ffc400;" matTooltip="Tasks that are currently being completed.">help</span>
          <span [style.color]="inProgressLimitExceeded ? 'red' : ''"
            style="margin-left: 4px;"></span>
          <span class="limit-warning">{{inProgressLimitExceeded ? limitWarning : ""}}</span>
        </div>
      </div>

      <div style="display: flex;" fxLayout="row">

          <div fxFlex="25" cdkDropList [cdkDropListData]="inProgress1" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'InProgress', 1)">
            <div class="task-p" style="border-bottom: 4px solid #ffc400;" *ngFor="let item of inProgress1" cdkDrag>
              <div class="navigation-items">
                <span class="edit-icon material-icons">create</span>
                <span class="delete-icon material-icons">delete</span>
              </div>
              <div class="task-title">
                {{ item.title }}
              </div>
              <div class="task-description">
                {{ item.description }}
              </div>
              <div *ngIf="item.name" class="owner-icon">
                <div class="owner">{{item.name | uppercase | slice:0:2}}</div>
              </div>

            </div>
          </div>

          <div fxFlex="25" cdkDropList [cdkDropListData]="inProgress2" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'InProgress', 2)">
            <div class="task-p" style="border-bottom: 4px solid #ffc400;" *ngFor="let item of inProgress2" cdkDrag>
              <div class="navigation-items">
                <span class="edit-icon material-icons">create</span>
                <span class="delete-icon material-icons">delete</span>
              </div>
              <div class="task-title">
                {{ item.title }}
              </div>
              <div class="task-description">
                {{ item.description }}
              </div>
              <div *ngIf="item.name" class="owner-icon">
                <div class="owner">{{item.name | uppercase | slice:0:2}}</div>
              </div>

            </div>
          </div>

          <div fxFlex="25" cdkDropList [cdkDropListData]="inProgress3" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'InProgress', 3)">
            <div class="task-p" style="border-bottom: 4px solid #ffc400;" *ngFor="let item of inProgress3" cdkDrag>
              <div class="navigation-items">
                <span class="edit-icon material-icons">create</span>
                <span class="delete-icon material-icons">delete</span>
              </div>
              <div class="task-title">
                {{ item.title }}
              </div>
              <div class="task-description">
                {{ item.description }}
              </div>
              <div *ngIf="item.name" class="owner-icon">
                <div class="owner">{{item.name | uppercase | slice:0:2}}</div>
              </div>
              
            </div>
          </div>

          <div fxFlex="25" cdkDropList [cdkDropListData]="inProgress4" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'InProgress', 4)">
            <div class="task-p" style="border-bottom: 4px solid #ffc400;" *ngFor="let item of inProgress4" cdkDrag>
              <div class="navigation-items">
                <span class="edit-icon material-icons">create</span>
                <span class="delete-icon material-icons">delete</span>
              </div>
              <div class="task-title">
                {{ item.title }}
              </div>
              <div class="task-description">
                {{ item.description }}
              </div>
              <div *ngIf="item.name" class="owner-icon">
                <div class="owner">{{item.name | uppercase | slice:0:2}}</div>
              </div>

            </div>
          </div>

          <div fxFlex="25" cdkDropList [cdkDropListData]="inProgress5" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'InProgress', 5)">
            <div class="task-p" style="border-bottom: 4px solid #ffc400;" *ngFor="let item of inProgress5" cdkDrag>
              <div class="navigation-items">
                <span class="edit-icon material-icons">create</span>
                <span class="delete-icon material-icons">delete</span>
              </div>
              <div class="task-title">
                {{ item.title }}
              </div>
              <div class="task-description">
                {{ item.description }}
              </div>
              <div *ngIf="item.name" class="owner-icon">
                <div class="owner">{{item.name | uppercase | slice:0:2}}</div>
              </div>

            </div>
          </div>

      </div>
      
    </div>

    <div class="tasks-tab" fxFlex="15">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color: #45e217;">list</span>
          DONE
          <span class="material-icons help-icon-done" style="color: #45e217;" matTooltip="Completed tasks">help</span>
        </div>
      </div>
      <div cdkDropList [cdkDropListData]="done" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'Done')">
        <div class="task" style="border-bottom: 4px solid #45e217;" *ngFor="let item of done" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
            <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
          <div *ngIf="item.name" class="owner-icon">
            <div class="owner">{{item.name | uppercase | slice:0:2}}</div>
          </div>

        </div>
      </div>
    </div>

    <!-- <div class="tasks-tab">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color: #f50606;">list</span>
          GLITCHED ({{tasks?.length}})
        </div>
      </div>
      <div cdkDropList [cdkDropListData]="inProgress0" class="tasks-tab-content">
        <div class="task" style="border-bottom: 4px solid #f50606;" *ngFor="let item of inProgress0" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
            <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
        </div>
      </div>
    </div> -->


  </div>
</div>
