<mat-toolbar color="primary" class="topbar">
  <span class="ikona"> </span>
  <span class="logo1">KANBAN BOARD</span>
  <span class="logo2">PERSONAL KANBAN</span>
</mat-toolbar>

<!-- <div class="wrapper">
  <div cdkDropListGroup fxLayout="row" style="padding: 20px;">
    <div class="tasks-tab">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color: #41a1f5;">list</span>
          BACKLOG ({{ backlog.length }})
          <span class="add-task-button" style="color: #41a1f5;" (click)="addTaskDialog('Backlog')">+</span>
        </div>
      </div>
      <div cdkDropList [cdkDropListData]="backlog" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'Backlog')">
        <div class="task" style="border-bottom: 4px solid #41a1f5;" *ngFor="let item of backlog" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
            <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
        </div>
      </div>
    </div>

    <div class="tasks-tab">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color: #e8577a;">list</span>
          NEXT
          <span [style.color]="next.length > WIPLimit ? 'red' : ''"
            style="margin-left: 4px;">({{ next.length }}/{{ WIPLimit }})</span>
          <span class="limit-warning">{{
            next.length > WIPLimit ? limitWarning : ""
          }}</span>
          <span class="add-task-button" style="color: #e8577a;" (click)="addTaskDialog('Next')">+</span>
        </div>
      </div>
      <div cdkDropList [cdkDropListData]="next" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'Next')">
        <div class="task" style="border-bottom: 4px solid #e8577a;" *ngFor="let item of next" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
            <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
        </div>
      </div>
    </div>

    <div class="tasks-tab">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color: #ffc400;">list</span>
          IN PROGRESS
          <span [style.color]="inProgress.length > WIPLimit ? 'red' : ''"
            style="margin-left: 4px;">({{ inProgress.length }}/{{ WIPLimit }})</span>
          <span class="limit-warning">{{
            inProgress.length > WIPLimit ? limitWarning : ""
          }}</span>
          <span class="add-task-button" style="color: #ffc400;" (click)="addTaskDialog('InProgress')">+</span>
        </div>
      </div>
      <div cdkDropList [cdkDropListData]="inProgress" class="tasks-tab-content"
        (cdkDropListDropped)="drop($event, 'InProgress')">
        <div class="task" style="border-bottom: 4px solid #ffc400;" *ngFor="let item of inProgress" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
            <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
        </div>
      </div>
    </div>

    <div class="tasks-tab">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color: #45e217;">list</span>
          DONE ({{ done.length }})
          <span class="add-task-button" style="color: #45e217;" (click)="addTaskDialog('Done')">+</span>
        </div>
      </div>
      <div cdkDropList [cdkDropListData]="done" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'Done')">
        <div class="task" style="border-bottom: 4px solid #45e217;" *ngFor="let item of done" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
            <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="wrapper">
  <div cdkDropListGroup fxLayout="row" style="padding: 20px;">
    <div class="tasks-tab">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color: #41a1f5;">list</span>
          BACKLOG ({{ backlog.length }})
          <span class="add-task-button" style="color: #41a1f5;" (click)="addTaskDialog('Backlog')">+</span>
        </div>
      </div>
      <div cdkDropList [cdkDropListData]="backlog" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'Backlog')">
        <div class="task" style="border-bottom: 4px solid #41a1f5;" *ngFor="let item of backlog" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
            <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
        </div>
      </div>
    </div>

    <div class="tasks-tab">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color: #e8577a;">list</span>
          NEXT
          <span [style.color]="next.length > WIPLimit ? 'red' : ''"
            style="margin-left: 4px;">({{ next.length }}/{{ WIPLimit }})</span>
          <span class="limit-warning">{{
            next.length > WIPLimit ? limitWarning : ""
          }}</span>
          <span class="add-task-button" style="color: #e8577a;" (click)="addTaskDialog('Next')">+</span>
        </div>
      </div>
      <div cdkDropList [cdkDropListData]="next" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'Next')">
        <div class="task" style="border-bottom: 4px solid #e8577a;" *ngFor="let item of next" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
            <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
        </div>
      </div>
    </div>

    <div class="tasks-tab-p">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color: #ffc400;">list</span>
          IN PROGRESS
          <span [style.color]="inProgress.length > WIPLimit ? 'red' : ''"
            style="margin-left: 4px;">({{ inProgress.length }}/{{ WIPLimit }})</span>
          <span class="limit-warning">{{
            inProgress.length > WIPLimit ? limitWarning : ""
          }}</span>
        </div>
      </div>

      <div style="display: flex;">

          <div cdkDropList [cdkDropListData]="inProgress1" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'InProgress', 1)">
            <div class="task-p" style="border-bottom: 4px solid #ffc400;" *ngFor="let item of inProgress1" cdkDrag>
              <div class="navigation-items">
                <span class="edit-icon material-icons">create</span>
                <span class="delete-icon material-icons">delete</span>
              </div>
              <div class="task-title">
                {{ item.title }}
              </div>
              <div class="task-description">
                {{ item.description }}
              </div>
            </div>
          </div>

          <div cdkDropList [cdkDropListData]="inProgress2" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'InProgress', 2)">
            <div class="task-p" style="border-bottom: 4px solid #ffc400;" *ngFor="let item of inProgress2" cdkDrag>
              <div class="navigation-items">
                <span class="edit-icon material-icons">create</span>
                <span class="delete-icon material-icons">delete</span>
              </div>
              <div class="task-title">
                {{ item.title }}
              </div>
              <div class="task-description">
                {{ item.description }}
              </div>
            </div>
          </div>

          <div cdkDropList [cdkDropListData]="inProgress3" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'InProgress', 3)">
            <div class="task-p" style="border-bottom: 4px solid #ffc400;" *ngFor="let item of inProgress3" cdkDrag>
              <div class="navigation-items">
                <span class="edit-icon material-icons">create</span>
                <span class="delete-icon material-icons">delete</span>
              </div>
              <div class="task-title">
                {{ item.title }}
              </div>
              <div class="task-description">
                {{ item.description }}
              </div>
            </div>
          </div>

          <div cdkDropList [cdkDropListData]="inProgress4" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'InProgress', 4)">
            <div class="task-p" style="border-bottom: 4px solid #ffc400;" *ngFor="let item of inProgress4" cdkDrag>
              <div class="navigation-items">
                <span class="edit-icon material-icons">create</span>
                <span class="delete-icon material-icons">delete</span>
              </div>
              <div class="task-title">
                {{ item.title }}
              </div>
              <div class="task-description">
                {{ item.description }}
              </div>
            </div>
          </div>

          <div cdkDropList [cdkDropListData]="inProgress5" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'InProgress', 5)">
            <div class="task-p" style="border-bottom: 4px solid #ffc400;" *ngFor="let item of inProgress5" cdkDrag>
              <div class="navigation-items">
                <span class="edit-icon material-icons">create</span>
                <span class="delete-icon material-icons">delete</span>
              </div>
              <div class="task-title">
                {{ item.title }}
              </div>
              <div class="task-description">
                {{ item.description }}
              </div>
            </div>
          </div>

      </div>
      
    </div>

    <div class="tasks-tab">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons" style="color: #45e217;">list</span>
          DONE ({{ done.length }})
        </div>
      </div>
      <div cdkDropList [cdkDropListData]="done" class="tasks-tab-content" (cdkDropListDropped)="drop($event, 'Done')">
        <div class="task" style="border-bottom: 4px solid #45e217;" *ngFor="let item of done" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon material-icons" (click)="editTaskDialog(item.id)">create</span>
            <span class="delete-icon material-icons" (click)="delTask(item.id)">delete</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







<!-- <div class="tasks-tab-header">
  <div class="task-tab-title">
    <span class="material-icons" style="color: #41a1f5;">list</span>
    TEST
    <span class="add-task-button" style="color: #41a1f5;">+</span>
  </div>
</div>
<div cdkDropListGroup fxLayout="row" style="padding: 20px;">
  <div class="tasks-tab-p" *ngFor="let i of [].constructor(5)">
    <div cdkDropList (cdkDropListDropped)="drop($event, 'Backlog')">
      <div class="task-p" style="border-bottom: 4px solid #41a1f5;" cdkDrag>
        <div class="navigation-items">
          <span class="edit-icon material-icons">create</span>
          <span class="delete-icon material-icons">delete</span>
        </div>
        <div class="task-title">
          test1
        </div>
        <div class="task-description">
          test1
        </div>
      </div>
      <div class="task-p" style="border-bottom: 4px solid #41a1f5;" *ngFor="let i of [].constructor(5)" cdkDrag>
        <div class="navigation-items">
          <span class="edit-icon material-icons">create</span>
          <span class="delete-icon material-icons">delete</span>
        </div>
        <div class="task-title">
          test2
        </div>
        <div class="task-description">
          test2
        </div>
      </div>
    </div>
  </div>
</div> -->