<div class="wrapper">
  <div cdkDropListGroup fxLayout="row" style="padding: 20px;">
    <div class="tasks-tab">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons">list</span>
          BACKLOG
          <span class="add-task-button" (click)="addTaskDialog('Backlog')">+</span>
          <!--  it should be <mat-button mat-icon-button>+</mat-button> -->
        </div>
      </div>
      <div
        cdkDropList
        [cdkDropListData]="backlog"
        class="tasks-tab"
        (cdkDropListDropped)="drop($event, 'Backlog')"
      >
        <div class="task" *ngFor="let item of backlog" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon" (click)="editTaskDialog(item.id)">E</span>
            <span class="delete-icon" (click)="delTask(item.id)">D</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
        </div>
      </div>
    </div>

    <div class="tasks-tab">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons">list</span>
          NEXT
          <span class="add-task-button" (click)="addTaskDialog('Next')">+</span>
          <!--  it should be <mat-button mat-icon-button>+</mat-button> -->
        </div>
      </div>
      <div
        cdkDropList
        [cdkDropListData]="next"
        class="tasks-tab"
        (cdkDropListDropped)="drop($event, 'Next')"
      >
        <div class="task" *ngFor="let item of next" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon" (click)="editTaskDialog(item.id)">E</span>
            <span class="delete-icon" (click)="delTask(item.id)">D</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
        </div>
      </div>
    </div>

    <div class="tasks-tab">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons">list</span>
          IN PROGRESS
          <span class="add-task-button" (click)="addTaskDialog('InProgress')">+</span>
          <!--  it should be <mat-button mat-icon-button>+</mat-button> -->
        </div>
      </div>
      <div
        cdkDropList
        [cdkDropListData]="inProgress"
        class="tasks-tab"
        (cdkDropListDropped)="drop($event, 'InProgress')"
      >
        <div class="task" *ngFor="let item of inProgress" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon" (click)="editTaskDialog(item.id)">E</span>
            <span class="delete-icon" (click)="delTask(item.id)">D</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
        </div>
      </div>
    </div>

    <div class="tasks-tab">
      <div class="tasks-tab-header">
        <div class="task-tab-title">
          <span class="material-icons">list</span>
          DONE
          <span class="add-task-button" (click)="addTaskDialog('Done')">+</span>
          <!--  it should be <mat-button mat-icon-button>+</mat-button> -->
        </div>
      </div>
      <div
        cdkDropList
        [cdkDropListData]="done"
        class="tasks-tab"
        (cdkDropListDropped)="drop($event, 'Done')"
      >
        <div class="task" *ngFor="let item of done" cdkDrag>
          <div class="navigation-items">
            <span class="edit-icon" (click)="editTaskDialog(item.id)">E</span>
            <span class="delete-icon" (click)="delTask(item.id)">D</span>
          </div>
          <div class="task-title">
            {{ item.title }}
          </div>
          <div class="task-description">
            {{ item.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>