<div cdkDropListGroup fxLayout="row" style="padding: 20px;">

  <div class="example-container">
    <div fxLayout="row" style="justify-content: space-between">
      <h2>Backlog</h2>
      <h2 style="cursor:pointer; " (click)="addTaskDialog();">+</h2>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="backlog"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of backlog" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <div fxLayout="row" style="justify-content: space-between">
      <h2>Next</h2>
      <h2 style="cursor:pointer; " (click)="addTaskDialog();">+</h2>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="next"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of next" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <div fxLayout="row" style="justify-content: space-between">
      <h2>In progress</h2>
      <h2 style="cursor:pointer; " (click)="addTaskDialog();">+</h2>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="inProgress"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of inProgress" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <div fxLayout="row" style="justify-content: space-between">
      <h2>Done</h2>
      <h2 style="cursor:pointer; " (click)="addTaskDialog();">+</h2>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div>

</div>