.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(247, 247, 247);
}

.tasks-tab {
  width: 200px;
  margin-right: 25px;
  background: #e5e5e5;
  border-radius: 14px;
  font-family: "Roboto", sans-serif;
  color: #311756;
  font-weight: 500;
}

.tasks-tab-p {
  width: 795px;
  min-height: 50vh;
  background: #e5e5e5;
  border-radius: 14px;
  font-family: "Roboto", sans-serif;
  color: #311756;
  font-weight: 500;
  margin-right: 25px;
  min-height: 235px;
}

.tasks-tab-row {
  width: 90px;
  margin-right: 25px;
  background: #e5e5e5;
  border-radius: 14px;
  font-family: "Roboto", sans-serif;
  color: #311756;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tasks-tab-header {
  background: #ffffff;
  box-shadow: 0px 1px 3px #00000033;
  border-radius: 4px;
  height: 43px;
  font-size: 14px;
}

.task-tab-title {
  padding: 12px;
  letter-spacing: 1.25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
}

.add-task-button {
  margin-left: auto;
  cursor: pointer;
  font-size: 20px;
}

.material-icons {
  margin-right: 8px;
}

.delete-icon {
  visibility: hidden;
  font-size: 19px;
  margin-right: -14px;
  margin-top: -6px;
  color: grey;
}

.edit-icon {
  visibility: hidden;
  margin-right: 10px;
  font-size: 19px;
  margin-top: -6px;
  color: grey;
}

.block-icon-long {
  position: relative;
  top: -18px;
  right: 106px;
  color: #f55151;
}

.block-icon-short {
  position: relative;
  top: -18px;
  right: 65px;
  color: #f55151;
}

.navigation-items {
  display: flex;
  position: relative;
  top: 0px;
  float: right;
  padding-right: 5px;
}

.task:hover .edit-icon {
  visibility: visible;
}

.task:hover .delete-icon {
  visibility: visible;
}

.task-p:hover .edit-icon {
  visibility: visible;
}

.task-p:hover .delete-icon {
  visibility: visible;
}

.task {
  height: auto;
  background-color: white;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 1px 3px #0000001a;
  padding: 10px;
  margin: 11px;
  word-wrap: break-word;
  font-size: 12px;
  cursor: pointer;
}

.task-p {
  height: auto;
  background-color: white;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 1px 3px #0000001a;
  padding: 10px;
  margin: 11px;
  word-wrap: break-word;
  font-size: 12px;
  cursor: pointer;
}

.task-title {
  padding-right: 40px;
  font-size: 14px;
  text-transform: uppercase;
}

.task-description {
  padding-top: 5px;
}

.owner-icon {
  display: flex;
  position: relative;
  float: right;
  top: -15px;
  left: 7px;
  width: 22px;
  height: 22px;
  background-color: #cbcbcb;
  border-radius: 50%;
  justify-content: center;
  margin-left: 3px;
}

.owner {
  height: fit-content;
  margin-top: 4px;
  margin-right: 1px;
  color: #311756b5;
}

.topbar {
  background-color: #484848;
  width: 100%;
  height: 66px;
}
.ikona {
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 86px;
  width: 31px;
  height: 31px;
}
.logo1 {
  font-size: 16px;
  font-family: Roboto;
  letter-spacing: 1.43px;
  color: #ffffff;
  margin-top: 22px;
  margin-bottom: 23px;
  margin-left: 13px;
}
.logo2 {
  font-size: 12px;
  font-family: Roboto;
  letter-spacing: 1.07px;
  color: #c2c2c2;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 53px;
}

.limit-warning {
  color: red;
  font-size: 10px;
  margin-left: 5px;
}

.cdk-drop-list {
  height: 100%;
  background: border-box;
}
