@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar {
    background-color: rgb(212, 29, 29);
    color: white;
  }

.mat-simple-snackbar span {
    margin: auto;
    text-align: center;
}